.container {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 100px;
  font-size: 18px;
  justify-content: space-between;
}

.listItem {
  display: inline;
  margin-right: 30px;
  font-size: 14px;
}
